In [1]:
#LOading sql extension
%load_ext sql
# Connecting to the database
%sql sqlite:///insurance.db

In [2]:
#data preview
%sql SELECT * FROM insurance LIMIT 5

 * sqlite:///insurance.db
Done.

[(19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924),
 (18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523),
 (28, 'male', 33, 3, 'no', 'southeast', 4449.462),
 (33, 'male', 22.705, 0, 'no', 'northwest', 21984.47061),
 (32, 'male', 28.88, 0, 'no', 'northwest', 3866.8552)]

1. How many females are smokers?

In [3]:
%%sql
SELECT COUNT(*)
FROM  insurance
WHERE sex='female' AND smoker= 'yes'

 * sqlite:///insurance.db
Done.

[(115,)]

2. How many males are smokers?

In [5]:
%%sql
SELECT COUNT(*)
FROM  insurance
WHERE sex='male' AND smoker= 'yes'

 * sqlite:///insurance.db
Done.

[(159,)]

3. Show the distribution of smokers and non smokers in each region

In [6]:
%%sql
SELECT region, smoker, COUNT(*) count
FROM insurance
GROUP BY region, smoker

 * sqlite:///insurance.db
Done.

[('northeast', 'no', 257),
 ('northeast', 'yes', 67),
 ('northwest', 'no', 267),
 ('northwest', 'yes', 58),
 ('southeast', 'no', 273),
 ('southeast', 'yes', 91),
 ('southwest', 'no', 267),
 ('southwest', 'yes', 58)]

4. Is there any region where its average charge is below THE overall average charge?

In [11]:
%%sql
SELECT region, AVG(charges) avg_charge
FROM insurance
GROUP BY region
--having AVG(charges) < overall_avg_charge

 * sqlite:///insurance.db
Done.

[('northeast', 13406.3845163858),
 ('northwest', 12417.575373969228),
 ('southeast', 14735.411437609895),
 ('southwest', 12346.93737729231)]

In [8]:
%%sql
WITH overall AS(
    SELECT AVG(charges) overall_avg_charge
    FROM insurance
)
SELECT region, AVG(charges) avg_charge
FROM insurance, overall
GROUP BY region
having AVG(charges) < overall_avg_charge

 * sqlite:///insurance.db
Done.

[('northwest', 12417.575373969228), ('southwest', 12346.93737729231)]

In [9]:
%%sql
SELECT region, AVG(charges) avg_charge
FROM insurance
WHERE avg_charge < overall_avg_charge
GROUP BY region

 * sqlite:///insurance.db
(sqlite3.OperationalError) no such column: overall_avg_charge
[SQL: SELECT region, AVG(charges) avg_charge
FROM insurance
WHERE avg_charge < overall_avg_charge
GROUP BY region]
(Background on this error at: https://sqlalche.me/e/14/e3q8)