# Personal Medical Insurance Analysis

### Attribute Information
age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance

In [3]:
%load_ext sql
%sql sqlite:///insurance.db

ModuleNotFoundError: No module named 'sql'

Questions
1. How many female are smokers?
2. How many male are smokers?
3. Show the distribution of smokers and non smokers in each region 
4. Is there a region where its average charge is below the overall average charge?
5. What can you say about people with children and those without children in terms of smoking
6. Which region has the highest number of smokers?
7. Which region has the lowest number of smokers?
8. What is the average charge from female?

In [2]:
# Data Preview
%sql SELECT * FROM insurance LIMIT 5

 * sqlite:///insurance.db
Done.

[(19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924),
 (18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523),
 (28, 'male', 33, 3, 'no', 'southeast', 4449.462),
 (33, 'male', 22.705, 0, 'no', 'northwest', 21984.47061),
 (32, 'male', 28.88, 0, 'no', 'northwest', 3866.8552)]

### 1. How many female are smokers?

In [3]:
%%sql 
SELECT  COUNT(*)
FROM    insurance
WHERE   sex = 'female' AND smoker = 'yes'

 * sqlite:///insurance.db
Done.

[(115,)]

### 2. How many male are smokers?

In [4]:
%%sql 
SELECT  COUNT(*)
FROM    insurance
WHERE   sex = 'male' AND smoker = 'yes'

 * sqlite:///insurance.db
Done.

[(159,)]

### 3. Show the distribution of smokers and non-smokers in each region

In [5]:
%%sql
SELECT      region, smoker, COUNT(*) count
FROM        insurance
GROUP BY    region, smoker

 * sqlite:///insurance.db
Done.

[('northeast', 'no', 257),
 ('northeast', 'yes', 67),
 ('northwest', 'no', 267),
 ('northwest', 'yes', 58),
 ('southeast', 'no', 273),
 ('southeast', 'yes', 91),
 ('southwest', 'no', 267),
 ('southwest', 'yes', 58)]

### 4. Is there a region where its average charge is below the overall average charge?

In [11]:
%%sql
SELECT region, AVG(charges) avg_charge
FROM insurance
GROUP BY region

 * sqlite:///insurance.db
Done.

[('northeast', 13406.3845163858),
 ('northwest', 12417.575373969228),
 ('southeast', 14735.411437609895),
 ('southwest', 12346.93737729231)]

In [10]:
%%sql
SELECT AVG(charges) overall_avg_charges
FROM insurance

 * sqlite:///insurance.db
Done.

[(13270.422265141257,)]

In [14]:
%%sql
WITH overall as (
    SELECT  AVG(charges) overall_avg_charges
    FROM    insurance
)

SELECT region, AVG(charges) avg_charges
FROM insurance, overall
GROUP BY region
HAVING AVG(charges) < overall_avg_charges

 * sqlite:///insurance.db
Done.

[('northwest', 12417.575373969228), ('southwest', 12346.93737729231)]

### 5. What can you say about people with children and those without children in terms of smoking

### 6. Which region has the highest number of smokers?

### 7. Which region has the lowest number of smokers?

### 8. What is the average charge from female?

### Summary